body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --main-bg-color: rgb(230, 214, 167);
  --main-bg-dark: rgb(31, 31, 31);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  background-color: rgb(31, 31, 31);
}
